/* menu */
.nav-link.menuCourant {
    color: white !important;
    background-color: black;
}

/* calendrier */
.bootstrap-datetimepicker-widget.dropdown-menu.usetwentyfour {
    position : static;
    width: 100%;
}

/* met les filtres sous les titres de colonnes */
tfoot {
    display: table-header-group;
}