/* Bouton */
.commonBtn {
    cursor:pointer;
    opacity: 0.8;
}
.commonBtn:hover {
    opacity: 1;
}

.buttonsArticle a {
    color:white;
}

.buttonsArticle a:hover {
    color:white;
    text-decoration:none;
}

/* Espace commentaire */
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{/* flèche */
    position:absolute;
    top:11px;
    left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/* Footer */
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}

/* Logo réseau social */
.logo_reseauSocial {
    background-repeat: no-repeat;
    cursor:pointer;
    transition:0.3s;/* durée de l'animation en secondes*/
    border-radius: 1.1rem;
    margin-right: .5rem;
}
.logo_reseauSocial:hover{
    transform : scale(1.2);/* zoom de l'image. La taille normale est 1 */
}

/* Formulaire simple */
form .error input,form .error textarea {
    border-color:red;
}

/* Formulaire de connexion */
#frameConnection {
    position: absolute;
    z-index: 100;/* passe l'élément au premier plan de la page */
    background-color: white;
    max-width: 450px;/* utile sur une petite résolution */
    text-align: center;
}
#titleConnection {
    background-color: #343a40;
    color: white;
    border : 1px solid black;
}

.close2 {
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 0.8;
}
button.close2:hover, button.close2:focus  {
    background-color: transparent;
    border: none;
    outline:none;
}
button.close2:hover  {
    color: #DCDCDC;
}
