/* Bouton */
.commonBtn {
    cursor:pointer;
    opacity: 0.8;
}
.commonBtn:hover {
    opacity: 1;
}

.buttonsArticle a {
    color:white;
}

.buttonsArticle a:hover {
    color:white;
    text-decoration:none;
}

/* Espace commentaire */
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{/* flèche */
    position:absolute;
    top:11px;
    left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}

/* Footer */
#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: 0;
}

/* Logo réseau social */
.logo_reseauSocial {
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    cursor:pointer;
    transition:0.5s;/* durée de l'animation en secondes*/
}
a.logo_reseauSocial{
    margin-right: .5rem;
}
.logo_reseauSocial:hover{
    transform : scale(1.2);/* zoom de l'image. La taille normale est 1 */
}
.logo_twitter {
    background-image: url('../img/logo/logo-twitter.jpg');
}
.logo_facebook {
    background-image: url('../img/logo/logo-facebook.png');
}
.logo_google_plus {
    background-image: url('../img/logo/logo-google-plus.png');
}